@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 800;
    font-size: 50px;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

h4{
    font-weight: bold;
    font-size: 20px;
}

p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}

.wrapper{
    width: 860px;
    margin: 0 auto;
}
/* in order to see what you're working with, useful to have a temporary bgcolor to visualize borders */

.herobanner{
    background-color: #007fff;
    min-height: 50vh; 
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
/* vh = viewport height and drags the banner down the entire length of the viewable screen at the time of accessing?
This looked really overwhelming on my screen, hero banner was the entire window. I switched from 100 to 50vh and it was reasonable. */

.herobanner h1{
    color: white;
    margin: 14px 0 20px;
}

.herobanner h3{
    color: white;
    margin: 0 0 35px;
}

.herobanner h4,
.herobanner h4 a{
    color: white;
    margin: 0;
}


.character1{
    background: url(img/characters/circle-guy.png) no-repeat 0 0;
    background-size: 78%;
    width: 363px;
    height: 344px;
    position:absolute; top: 117px; right: 0;
    transform: rotate(15deg);
}

.character2{
    background: url(img/characters/sticky-guy-1.png) no-repeat 0 0;
    background-size: 68%;
    width: 309px;
    height: 371px;
    position:absolute; top: 160px; right: 135px;
}

.character3{
    background: url(img/characters/eish-guy.png) no-repeat 0 0;
    background-size: 58%;
    width: 297px;
    height: 286px;
    position:absolute; top: 280px; right: 15px;
}

a.cta,
button.cta{
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #007fff;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

a.cta.alt,
button.cta.alt{
    background-color: #ffd400;
    color: #111111;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}
/* how does that 'top' line know that it affects where the sticky begins and not something else?
What is telling it that it correlates to the sticky and not the box shadow or height or something? */

nav .logo{
    display: block;
    width: 344px;
    height: 182px;
    position: absolute; top: 35%; left: 0;
    margin-top: -20px;
    margin-left: 30px;
    background: url(img/characters/relative-pot.png) no-repeat 0 0;
    background-size: 40%;
    overflow: hidden;
    text-indent: -999px;
}
/* those last two lines hide the text that remains visible under the graphic of the logo. I wonder if the text of the graphic is
even needed? Is this showing up because of the text present in the html? Uncertain. */

nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li{
    padding: 0;
    margin: 0;
    display: block;
    float: right;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}
/*  confused as to why we needed the line-height bit. When adjusting padding to 30px instead of 35px fixed it.
    Extra line feels redundant. Does it function better somehow this way?? */

.moreinfo{
    text-align: center;
}



/* 

    <div class="moreinfo" id="moreinfo">
        <h2>Join Our Fan Club</h2>
        <p>Every week we have <span class="highlight">a party.</span> If you want to join us then join our fan club. 
            Members will also receive pictures of us in all kinds of shapes and sizes. Cool huh?</p>
        <button class="cta">Sign Me Up!</button>
    </div>

*/