@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 800;
    font-size: 50px;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

h4{
    font-weight: bold;
    font-size: 20px;
}

p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}

.wrapper{
    width: 860px;
    margin: 0 auto;
}
/* in order to see what you're working with, useful to have a temporary bgcolor to visualize borders */

.herobanner{
    background-color: #007fff;
    min-height: 50vh; 
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
/* vh = viewport height and drags the banner down the entire length of the viewable screen at the time of accessing?
This looked really overwhelming on my screen, hero banner was the entire window. I switched from 100 to 50vh and it was reasonable. */

.herobanner h1{
    color: white;
    margin: 14px 0 20px;
}

.herobanner h3{
    color: white;
    margin: 0 0 35px;
}

.herobanner h4,
.herobanner h4 a{
    color: white;
    margin: 0;
}


.character1{
    background: url(img/characters/circle-guy.png) no-repeat 0 0;
    background-size: 78%;
    width: 363px;
    height: 344px;
    position:absolute; top: 117px; right: 0;
    transform: rotate(15deg);
}

.character2{
    background: url(img/characters/sticky-guy-1.png) no-repeat 0 0;
    background-size: 68%;
    width: 309px;
    height: 371px;
    position:absolute; top: 160px; right: 135px;
}

.character3{
    background: url(img/characters/eish-guy.png) no-repeat 0 0;
    background-size: 58%;
    width: 297px;
    height: 286px;
    position:absolute; top: 280px; right: 15px;
}

a.cta,
button.cta{
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #007fff;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

a.cta:active,
button.cta:active{
    opacity: .7;
}
/* this segment styles the way the button appears while it is being depressed */

a.cta.alt,
button.cta.alt{
    background-color: #ffd400;
    color: #111111;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    z-index: 1;
}
/* how does that 'top' line know that it affects where the sticky begins and not something else?
What is telling it that it correlates to the sticky and not the box shadow or height or something? */

nav .logo{
    display: block;
    width: 344px;
    height: 182px;
    position: absolute; top: 35%; left: 0;
    margin-top: -20px;
    margin-left: 30px;
    background: url(img/characters/relative-pot.png) no-repeat 0 0;
    background-size: 40%;
    overflow: hidden;
    text-indent: -999px;
}
/* those last two lines hide the text that remains visible under the graphic of the logo. I wonder if the text of the graphic is
even needed? Is this showing up because of the text present in the html? Uncertain. */

nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li{
    padding: 0;
    margin: 0;
    display: block;
    float: right;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}
/*  confused as to why we needed the line-height bit. When adjusting padding to 30px instead of 35px fixed it.
    Extra line feels redundant. Does it function better somehow this way?? */

.moreinfo{
    text-align: center;
}

.moreinfo p{
    margin: 18px 0 35px;
}

.highlight{
    background-color: #FFADF9;
    color: #FF3300;
    padding: 5px 10px;
    display: inline;
    font-weight: bold;
}

.sep{
    width: 475px;
    height: 10px;
    background-color: #111111;
    margin: 70px auto;
}

.story h3{
    font-size: 40px;
    font-weight: 800;
}
/* this segment added because too many things are sharing h3 status but they don't all share font size
this segment overrides the generalized h3 styling for everything within story segment. */

.nb-list{
    width: 470px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #EDEDED;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}

.nb-list li{
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    color:white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    padding: 6px 20px;
    box-sizing: border-box;
}

.nb-list li.red{background-color: red;}
.nb-list li.blue{background-color: blue;}
.nb-list li.yellow{
    background-color: yellow;
    color: #111111;
}
.nb-list li.pink{background-color: pink;}
.nb-list li.salmon{background-color: salmon;}
.nb-list li.gray{background-color: rgba(0,0,0,.1);}

.nb-list li.dragging{
    position: absolute;
    top: 70px;
    left: 70px;
    right: -30px;
    transform: rotate(6deg);
    box-shadow: 0 2px 14px rgba(0,0,0,.3);
}

.nb-list li.dragging:after{
    content: '';
    display: block;
    position: absolute;
    width: 42px;
    height: 41px;
    background: url(img/characters/bored-guy.png) no-repeat 0 0;
    background-size: 110%;
    bottom: 2px;
    left: 75%;
}
/* by setting it as a pseudoclass this appears to follow the flow of the parent item, I didn't need to do a transform rotate
because the parent box was already rotated. Very convenient! */

.gangimage{
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: rgba(0,0,0,.4);
    font-size: 20px;
    margin: 85px 0 45px;
    font-weight: bold;
}

footer a{
    color: rgba(0,0,0,.4);
}

.popup{
    display: none;
}

/* 

 <div class="sep"></div>
    <div class="story" id="story">
        <ul class="nb-list">
            <li class="blue">Rock 'n Roll</li>
            <li class="gray">&nbsp;</li>
            <li class="yellow dragging">Laughter</li>
            <li class="red">Square Offs</li>
            <li class="pink">Circuitous Routes</li>
            <li class="salmon">Trigonometry</li>
            <li class="blue">Rad Hats</li>
            <li class="yellow">Being Silly</li>
        </ul>
        <h3>Left: Things We Find Important<br/>
            Below: Our Story</h3>
            <p>Once upon a time there was a group of shapes. They were mostly black and rectangular.
                They were mean and very serious.</p>
            <p>And so they kicked the 3 shapes that diddn't conform out of their gang, which was
                called the Right Angle Gang.</p>
            <p>And so these 3 shapes were very sad, but found great joy and comfort being around each
                other. They soon started having a lot of fun, started rocking and rolling, started
                being silly, and became the most well-known shape gang in the universe.</p>
            <p>They even started making fun of squares and rectangles in what they like ot call 'Square Offs'!</p>
    </div>
    <div class="sep"></div>

*/